---
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import { Library } from "../components/Library.jsx";
import Libreria from "../components/Libreria.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Steam Library.">
	<Header />
	<main>
		<Library client:load />
		<!-- <Libreria /> -->
	</main>
</Layout>
