---
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Libreria from "../components/Libreria.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Steam Library.">
	<Header />
	<main>
		<Libreria />
	</main>
</Layout>
