---
import Card from "../components/Card.astro";
import Libreria from "../components/Libreria.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Steam Library.">
	<header>
		<nav class="flex max-h-2 py-10 w-full gap-60 justify-center">
			<ul>
				<a href="#">Buscar</a>
			</ul>
			<ul>
				<a href="#">Buscar</a>
			</ul>
			<ul>
				<a href="#">Buscar</a>
			</ul>
		</nav>
	</header>

	<main>
		<Libreria />
	</main>
</Layout>
