---

---

<header>
    <nav
        class="flex flex-row min-w-full justify-center border border-black py-5 bg-slate-700/50 rounded-xl"
    >
        <ul>
            <a href="#">Ingresar</a>
        </ul>
    </nav>
</header>
