---
import { type Game } from "../interfaces/game";
import Card from "./Card.astro";

const response = await fetch(
    " http://api.steampowered.com/IPlayerService/GetOwnedGames/v0001/?key=0C597FED8B986897CCE87238DFBCBC8A&steamid=76561198099032533&format=json&include_appinfo=true",
);

const data = await response.json();

const games = data.response.games;

games.sort(function (a: Game, b: Game) {
    const nameA = a.name.toUpperCase();
    const nameB = b.name.toUpperCase();
    if (nameA < nameB) {
        return -1;
    }
    if (nameA > nameB) {
        return 1;
    }
    return 0;
});
---

<section
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 mx-auto content-center justify-center mt-20"
>
    {
        games.map(({ name, playtime_forever: horas, appid }: Game) => (
            <Card title={name} horas={(horas / 60).toFixed(1)} appid={appid} />
        ))
    }
</section>
<button
    class="flex flex-row justify-center mx-auto py-3 px-5 bg-red-500 rounded-xl text-xl font-bold mb-0"
    id="cargarMas">Cargar más juegos</button
>
